<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <!--移动端浏览-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类编辑</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/fragments :: nav(3)" class="ui inverted transparent attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu"> <!--stackable可堆叠的，用于移动端响应-->
                <a href="/" class="item">
                    <img class="ui image" src="../../static/images/orange.png" style="width: 50px;height: 60px;padding-top: 4px">
                    <h2 class="ui header item" style="color: #ffA500">管理后台</h2>
                </a>
                <a href="#" class="active m-item item m-mobile-hide" style="color: #333333"><i class="mini home link icon m-margin-lr-large orange"></i>博客</a>
                <a  href="#" class="m-item item m-mobile-hide"><i class="mini tags link icon m-margin-lr-large orange"></i>标签</a>
                <a  href="#" class="m-item item m-mobile-hide"><i class="mini idea link icon m-margin-lr-large orange"></i>分类</a>
                <div class="right m-item menu m-mobile-hide orange">
                    <div class="ui dropdown item">
                        <div class="text" style="color: orange">
                            <img src="https://picsum.photos/id/55/100/100" alt="" class="ui avatar image">
                            考拉君
                        </div>
                        <i class="dropdown icon orange"></i>

                        <div class="menu">
                            <div class="ui inverted segment m-padded-mini">
                                <a href="#" class="item">注销</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <div class="ui m-bg orange attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/input}" class="active orange item">新增分类</a>
                <a href="#" th:href="@{/admin/types}" class="orange item">分类列表</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
                <form action="#" class="ui form" method="post" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}">
                   <!--传入type的id-->
<!--                    <input type="hidden" name="id" th:value="*{id}">-->
                    <div class=" field">
                        <div class="ui left labeled input">
                            <label class="ui orange basic label"><i class="mini picture icon orange"></i>名称</label>
                            <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                        </div>
                    </div>
                    <!--错误信息-->
                    <div class="ui error message"></div>
                    <!--/*/
                    <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
                      <i class="close icon"></i>
                      <div class="header">验证失败</div>
                      <p th:errors="*{name}">提交信息不符合规则</p>
                    </div>
                    /*/-->
                    <!--按钮-->
                    <div class="ui right aligned container">
                        <button type="submit" class="ui basic button" onclick="window.history.go(-1)"><i class="history icon"></i>返回</button>
                        <button class="ui orange basic submit button"><i class="edit icon orange"></i>提交</button>

                    </div>
                </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="admin/fragments :: footer">

    </footer>

<th:block th:replace="admin/fragments :: script">

</th:block>
<script src="../../static/lib/editormd/editormd.min.js"></script>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown()
    ;


    // 前端非空验证
    $('.ui.form').form({
       fields : {
           title : {
               identifier : 'name',
               rules : [{
                   type : 'empty',
                   prompt : '分类名称不能为空!'
               }]
           }
       }
    });
</script>
</body>
</html>